@font-face {
  font-family: 'Core Sans Regular';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://raw.githubusercontent.com/ub3hzm/easyedaCustomFont/main/Fonts/CoreSansRegular.ttf)
}

@font-face {
  font-family: 'Core Sans Medium';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://raw.githubusercontent.com/ub3hzm/easyedaCustomFont/main/Fonts/CoreSansMedium.ttf)
}